* {
    margin: auto;
}

body {


    overflow-x: hidden;
}

canvas {
    background-color: chocolate;
}

.horse {
    background: transparent;
    position: absolute;
    left: 20px;
    bottom: 0px;
    transition: 0.1s;

}

.road {
    height: 17%;
    width: 1350px;
    position: absolute;
    background: url('photo/hroad.jfif');
    background-repeat: repeat-x;
    right: 0;
    bottom: -480px;



}

.animal {
    position: absolute;
    left: 1010px;

    bottom: 90px;

}

.animal2 {
    position: absolute;
    left: 1150px;
    bottom: 210px;

}

.animal3 {
    position: absolute;
    left: 1180px;
    bottom: 10px;

}

.boy {

    position: absolute;
    left: 320px;
    bottom: -100px;
}

.tree {
    position: absolute;
    left: 30px;
    bottom: -150px;
}

.grass {
    position: absolute;
    left: 20px;
    bottom: -370px;
}

.hen {
    position: absolute;
    left: 210px;
    bottom: -120px;
}

.bird {
    position: absolute;
    right: 0px;
    bottom: 490px;
}

.women {
    position: absolute;
    left: 810px;
    bottom: 215px;
}
